In [6]:
import selenium                                                     #
from selenium import webdriver             # webdriver for selenium.
from selenium.webdriver.common.by import By
from selenium.webdriver.common.action_chains import ActionChains    # Action chain to imitate mouse hovering and mouse scroling.
from selenium.webdriver.chrome.options import Options      # oprions for the webdriver such as incognito mode it works faster then ordanary mode.
from selenium.webdriver.support.ui import WebDriverWait     # WebDriverWait function enshures that the web page is fully loaded.
from selenium.common.exceptions import TimeoutException       # Use for error handeling in case of timeout exaption.
from selenium.common.exceptions import NoSuchElementException    # Use for error handeling in case of missing element in the webdriver
from selenium.webdriver.support import expected_conditions as EC     # general selenum exceprions library 
import pandas as pd  # pandas library for dataframes in order to accomedate the data in to those frames
import os

In [7]:
read_file = pd.read_excel (r'27_20_355t1.xls')
read_file.to_csv (r'cbs.csv', index = None, header=True)

In [8]:
    
# Imported cbs.csv
cbs = pd.read_csv(r'cbs.csv', encoding='utf-8')

# Deleted columns Unnamed: 2
cbs.drop(['Unnamed: 2'], axis=1, inplace=True)

# Deleted columns Unnamed: 3
cbs.drop(['Unnamed: 3'], axis=1, inplace=True)

# Deleted columns Unnamed: 4
cbs.drop(['Unnamed: 4'], axis=1, inplace=True)

# Deleted columns Unnamed: 5
cbs.drop(['Unnamed: 5'], axis=1, inplace=True)

# Deleted columns Unnamed: 6
cbs.drop(['Unnamed: 6'], axis=1, inplace=True)

# Renamed columns killed
cbs.rename(columns={'Unnamed: 1': 'killed'}, inplace=True)

# Renamed columns year
cbs.rename(columns={'תרשים 1 - הרוגים בתאונות דרכים 2019-1949, מספרים מוחלטים': 'year'}, inplace=True)

# Dropped duplicates in cbs
cbs = cbs.drop_duplicates(keep=False)

In [9]:
#if run twice it will delete a row again ***run once only***
# Dropped first corrupted row
cbs=cbs.drop(cbs.index[0])
cbs

    year killed
3   1949    186
4   1950    228
5   1951    212
6   1952    228
7   1953    174
..   ...    ...
69  2015    356
70  2016    377
71  2017    364
72  2018    316
73  2019    355

[71 rows x 2 columns]

In [10]:
# https://www.gov.il/he/departments/news/20201231_summary
# adding killed in 2020
cbs2 = {'year': '2020', 'killed': 302}
cbs = cbs.append(cbs2, ignore_index = True)

In [11]:
# https://www.gov.il/he/departments/news/20211231_summary
# adding killed in 2021
cbs2 = {'year': '2021', 'killed': 361}
cbs = cbs.append(cbs2, ignore_index = True)

In [13]:
cbs

    year killed
0   1949    186
1   1950    228
2   1951    212
3   1952    228
4   1953    174
..   ...    ...
68  2017    364
69  2018    316
70  2019    355
71  2020    302
72  2021    361

[73 rows x 2 columns]

In [14]:
#export_cbs
cbs.to_csv(r'final_cbs.csv', index = False)

In [99]:
# driver=webdriver.Chrome()
# url = "https://www.gov.il/he/departments/news/20201231_summary"
# driver.get(url)
# username = driver.find_element(By.XPATH,'//*[@id="NewsDescription"]').text
# print(username)

בשנת 2020 נהרגו 302 בני אדם בתאונות דרכים, 53 הרוגים פחות משנה שעברה, מה שמשקף ירידה של 15% משנת 2019.